.resume-biography-3 {
    background-image: url('/assets/media/project.jpg');
    background-size: cover;
    background-position: center;
    color: white; /* text-color as white */
  }
  
  .resume-biography-3 .button {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
  }
  