{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $autolink := default true $block.content.autolink }}
{{ $data := $block.content }}

{{ $form_provider := lower $block.content.form.provider | default "" }}

{{ $use_netlify_form := eq $form_provider "netlify" }}
{{ $use_formspree_form := eq $form_provider "formspree" }}
{{ $use_form := or $use_netlify_form $use_formspree_form }}

{{ $use_netlify_captcha := $block.content.form.netlify.captcha | default true }}
{{ $use_formspree_captcha := $block.content.form.formspree.captcha | default false }}

{{ $columns := $block.design.columns | default "2" }}
<head>
    <!-- Other head content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.css">
</head>
{{ if and $use_formspree_form $use_formspree_captcha }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function initMap() {
    if ($('#map').length) {
      let lat = parseFloat($('#map-lat').val());
      let lng = parseFloat($('#map-lng').val());
      let zoom = parseInt($('#map-zoom').val());
      let address = $('#map-dir').val();

      let map = L.map('map').setView([lat, lng], zoom);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18,
      }).addTo(map);
      L.marker([lat, lng]).addTo(map)
        .bindPopup('<b>' + address + '</b>')
        .openPopup();
    }
  }

  $(document).ready(function () {
    initMap();
  });
</script>
<style>
  #map {
    height: 400px;
    width: 100%;
    border-radius: 8px; /* Rounded corners for the map */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border: 1px solid #ccc; /* Adds a light border around the map */
  }
</style>

<div class="contact-info">
    <h2>{{ $block.content.title | markdownify }}</h2>
    <p>{{ $block.content.text | markdownify }}</p>
</div>

<ul class="fa-ul">
  {{ if $data.email }}
    <li><i class="fa-li fa fa-envelope"></i>{{ if $autolink }}<a href="mailto:{{ $data.email }}">{{ $data.email }}</a>{{ else }}{{ $data.email }}{{ end }}</li>
  {{ end }}
  {{ if $data.phone }}
    <li><i class="fa-li fa fa-phone"></i>{{ if
